@import "../login/login.component.css";

.stat-item {
  display: flex;
  flex-direction: column;
}

.stat-item i {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

.stat-item span {
  font-size: 0.9rem;
  opacity: 0.8;
  margin: 0;
}
